.wrapper {
  display: flex;
  align-items: end;
  width: 420px;
  margin-bottom: 15px;
  height: 50px;
}

.searchIcon {
  margin-bottom: 5px;
}

.searchIcon svg {
  width: 40px;
  margin-right: 16px;
  cursor: pointer;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.closeIcon svg {
  width: 30px;
  position: absolute;
  bottom: 7px;
  right: 5px;
}

.paddingRInInput {
  padding-right: 35px;
}
